/* ==========================================================================
	Project:       ProjectName
	Assigned:      Oliver Benns (@oliverbenns)
	Date:          January 2015
	Notes:         Using the BEM naming convention (https://bem.info/method/)
	Dependencies:  Nib (https://github.com/tj/nib)
	========================================================================== */

@import "nib"

body
	color blue
// Config
@import "config/config-mixins"
@import "config/config-variables"
@import "config/config-scale"
