extends ./layout

block content
	.wrapper
		article(role="article")
			h1 Lorem ipsum dolor sit amet [h1]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			h2 Lorem ipsum dolor sit amet [h2]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			h3 Lorem ipsum dolor sit amet [h3]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			h4 Lorem ipsum dolor sit amet [h4]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			h5 Lorem ipsum dolor sit amet [h5]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			h6 Lorem ipsum dolor sit amet [h6]
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo [p]

			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore [blockquote]

			ul
				li Lorem ipsum dolor sit amet [ul li]
				li Lorem ipsum dolor sit amet [ul li]
				li Lorem ipsum dolor sit amet [ul li]

			ol
				li Lorem ipsum dolor sit amet [ol li]
				li Lorem ipsum dolor sit amet [ol li]
				li Lorem ipsum dolor sit amet [ol li]

			a(href="#") Lorem ipsum dolor sit amet [a]

			i Lorem ipsum dolor sit amet [i]

			em Lorem ipsum dolor sit amet [em]

			b Lorem ipsum dolor sit amet [b]

			strong Lorem ipsum dolor sit amet [strong]

			span Lorem ipsum dolor sit amet [span]

			img(src="/assets/img/great-success.png", alt="Great Success!")
