/* ==========================================================================
   Base Utils. Prefix with .u-
   ========================================================================== */

// Layout
.u-pull-left
	float left

.u-pull-right
	float right

.u-clear
	clear both

// Text alignment
.u-align-left
	text-align left

.u-align-center
	text-align center

.u-align-right
	text-align right

// Screen Reader Content - http://getbootstrap.com/css/#helper-classes-screen-readers
.u-screen-reader
	position absolute
	width 1px
	height 1px
	padding 0
	margin -1px
	overflow hidden
	clip rect(0, 0, 0, 0)
	border 0

// Clearfix
.u-clearfix
	clearfix()
