/* ==========================================================================
   Typography
   ========================================================================== */

body
	font-family $font-default
	color $color-font
	font-size $font-size
	line-height 1.4
	font-smoothing antialiased

selection($color-primary)

/* Headers
   ========================================================================== */

h1
	font-size 32px

h2
	font-size 24px

h3
	font-size 19px

h4
	font-size 16px

h5
	font-size 13px

h6
	font-size 11px


/* Other
   ========================================================================== */

b,
strong
	font-weight bold

i,
em
	font-style italic
