/* ==========================================================================
	Typical Layout Elements
	=========================================================================*/

.wrapper
	center($layout-wrapper-width, pad: $layout-gutter-width)
