/* ==========================================================================
   Links
   ========================================================================== */

a
	color $color-primary
	outline 0 // Remove dotted line on older browsers.
