/* ==========================================================================
   Forms
   ========================================================================== */

input,
textarea
	outline 0
	padding 6px
	border 1px solid $color-font
	display block
	width 100%
	font-size $font-size
	appearance none
	border-radius 0 // For iPhone reset
	background $color-white
	font-smoothing antialiased
	color $color-font
	font-family $font-default


select
	font-family $font-default
	font-size $font-size
	color $color-font
	font-smoothing antialiased

textarea
	resize none
	min-height 160px

placeholder($color-font)
