/* ==========================================================================
	Variables - Always use HEX values.
	========================================================================== */


/* Colours
	========================================================================== */

// Black / White
$color-black = #000
$color-white = #fff

// Greys
$color-grey = #ccc

// Brand
$color-primary = #22ccfc

// Type
$color-font = $color-black

/* Fonts
	========================================================================== */

$font-default = 'Helvetica Neue', Helvetica, sans-serif
$font-size = 16px
