/* ==========================================================================
	Variables - Always use HEX values.
	========================================================================== */


/* Colours
	========================================================================== */

// Black / White
$color-black = #000
$color-white = #fff

// Greys
$color-grey = #ccc

// Brand
$color-primary = #22ccfc

// Type
$color-font = $color-black

/* Fonts
	========================================================================== */

$font-default = 'Helvetica Neue', Helvetica, sans-serif
$font-size = 16px


/* Jeet / Layout config.
	========================================================================== */

$layout-gutter-width = 20px
$layout-wrapper-width = 960px

// Calculate margin percentage default for Jeet, based off gutter and wrapper widths.
jeet.gutter = $layout-gutter-width / $layout-wrapper-width * 100
