/* ==========================================================================
   Mixins - Before creating one, consider making a re-usable module
   rather than duplicating code.
   ========================================================================== */

//  Placeholders
placeholder($color)
	&::-webkit-input-placeholder
		color $color
		opacity 1

	&:-moz-placeholder
		color $color
		opacity 1

	&::-moz-placeholder
		color $color
		opacity 1

	&:-ms-input-placeholder
		color $color
		opacity 1

// Selection
selection($color)
	&::selection
		background $color

	&::-moz-selection
		background $color

// Center an element absolutely.
absoluteCenter($width, $height)
	position absolute
	top 50%
	left 50%
	width $width
	height $height
	margin-top (-($height / 2))
	margin-left (-($width / 2))

// https://gist.github.com/diogomoretti/7278541
webfont($family, $file, $weight = 'normal')
	@font-face
		font-family $family
		src url('/assets/font/' + $file + '.eot')
		src url('/assets/font/' + $file + '.eot?#iefix') format('embedded-opentype'),
			url('/assets/font/' + $file + '.woff') format('woff'),
			url('/assets/font/' + $file + '.ttf') format('truetype'),
			url('/assets/font/' + $file + '.svg#'+ $family) format('svg')
		font-weight $weight
		font-style normal
