/* ==========================================================================
   Article - http://thesassway.com/advanced/modular-css-typography#typesetting-my-content
   This container handles any time we want a page-like typography area. Like blog posts / content pages.
   ========================================================================== */

.article

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		margin 1em 0 0.5em

	p,
	blockquote
		margin 1em 0

	ul,
	ol
		margin 1.5em
		list-style-position inside

	ul
		list-style-type disc

	ol
		list-style-type decimal

	li
		margin-bottom 0.5em

	img
		display block
