/* ==========================================================================
	Focus object - Centers multi-line text horizonally and vertically.
	Text elements go inside focus__inner.
	=========================================================================*/

.focus
	display table
	width 100%
	height 100%

.focus__inner
	display table-cell
	vertical-align middle
	text-align center
