/* ==========================================================================
   Buttons
   ========================================================================== */

.btn
	border 0
	padding 10px
	display inline-block
	cursor pointer
	appearance none
	outline none
	line-height 1
	background $color-black
	color $color-white
	text-align center
	font-family $font-default
	font-smoothing antialiased
